.root {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding: 16px;
  background-color: white;
  .price {
    font-size: 36px;
    font-weight: 600;
  }
  .subtitle {
    color: rgb(71 148 71);
    font-size: 14px;
  }
  .low {
    color: rgb(124, 26, 26);
  }
  .tabBar {
    display: flex;
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .tab {
      padding: 12px 16px;
      color: grey;
    }
    .activeTab {
      color: black;
      border-bottom: 2px solid #482c83;
    }
  }
  .list {
    margin-top: 16px;
    .summary {
      .title {
        padding: 4px 8px;
        background-color: #f1ecff;
        margin-bottom: 4px;
        border-radius: 8px;
      }
    }
  }
  .chartsTab {
    display: flex;
    gap: 12px;
    .chartTab {
      padding: 4px 8px;
      border-radius: 2px;
      color: gray;
    }
    .activeChart {
      background-color: #482c83;
      color: white;
    }
  }
  .loaderWrapper {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
      width: 56px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: radial-gradient(farthest-side, #482c83 94%, #0000) top/4px 4px
          no-repeat,
        conic-gradient(#0000 10%, #482c83);
      -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 4px),
        #000 0
      );
      animation: l13 1s infinite linear;
    }
  }
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
